#container {
    width: 65%;
}

#tittle {
    margin: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#cardTittle {
    text-align: center;
    margin: 10px;
}

#btnEliminar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#contMetric{
    margin: 15px;
    text-align: right;
}

#btnMetric{
background-color: green;
color: white;
}
#sendButton {
    margin: 15px;
    text-align: center;
}

label {
    font-weight: bold;
}

#inputBarra {
    margin-bottom: 10px;
}



